<!DOCTYPE html>

<html xmlns:th="http://wwww.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		
</head>

<body>
	<div class="container">
		<form action="/projects/save" th:object="${project}" method="POST">
			<input type="text" placeholder="Project Name" th:field="${project.name}">
			
			<select th:field="${project.stage}">
				<option th:value="NOTSTART">Not Started</option>
				<option th:value="INPROGRESS">In Progress</option>
				<option th:value="COMPLETED">Completed</option>
			</select>
			
			<textarea th:field="${project.description}"  placeholder="Enter Project Description"></textarea>
			
			<button type="submit">Create Project</button>
		
		</form>
	</div>
</body>
</html>